{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- carousel add  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- jquery autocomplete css -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

  {% if title %}
  <title>Django Blog - {{ title }}</title>
  {% else %}
  <title>Django Blog</title>
  {% endif %}

  <style>
    button {
      background-color: rgb(139, 230, 65);
    }

    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.5px;
    }
  </style>
</head>

<body class="body-image">
  <heade class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-link nav-item mr-4" href="{% url 'blog-home' %}">Nebula</a>
            <a class="nav-item nav-link font-col" href="{% url 'blog-home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>

            {% if request.get_full_path == "/" %}
            <a class="nav-item nav-link" href="{% url 'blog-grid_view' %}">Change View</a>
            {% elif request.get_full_path == '/grid_view/' %}
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Change View</a>
            {% endif %}
          
            <form class="form-inline" style="position: relative;" action="/search" method="GET">
              <input name="query" class="form-control mr-sm-2 search-input post-bg" style="margin-left: 32rem;" type="search"
                placeholder="Search" aria-label="Search" id="tags">
                <a href="{% url 'search' %}"></a>
                <button class="btn my-2 btn-outline-success my-sm-0" type="submit">Search</button>
            </form>

            <div class="navbar-nav">
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </heade>
  <main role="main" class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
        {% for message in messages%}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>

        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

  <script>
    $(function () {
      $("#tags").autocomplete({
        source: "{% url 'autosuggest' %}",
        select: function (event, ui) {
          window.location.href = ui.item.url; // Redirect to the post's URL
          return false;
        },
        focus: function (event, ui) {
          $("#tags").val(ui.item.title);
          return false;
        },
        minLength: 1 // After 3 letter type suggetion will start
      }).autocomplete("instance")._renderItem = function (ul, item) {
        return $("<li>")
          .append("<div><strong><a href='" + item.url + "'>" + item.title + "</a></strong></div>")
          .appendTo(ul);
      };
    });
  </script>
</body>

</html>