{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <style>
        .media{
            border-radius: 20px;
            border-color: rgb(36, 36, 231);
            box-sizing: border-box;
            padding: 0px;
            height: 150px;
            width: 400px;
            overflow:hidden;
            overflow-y:auto;
            margin: 10px;
            margin-left: 200px;
        }
        article{
            
            position: sticky;
            margin-left: 30px;
        }
           
        h3{
            font-size: 25px;
        }

        
    </style>
    <div class="container-fluid infinite-container">
        {% for post in posts %}
        {% if forloop.first %}
        <div class="row infinite-item">
            {% endif %}
            <div class="col-lg-6 container-fluid">
            <!-- <div class="card container-fluid" style="margin: 25px; border-radius: 2.25rem;"> -->
                <article class="media content-section">
                    <img class="rounded-circle col-sm-4" style="padding: 15px;" src="{{ post.author.profile.image.url }}">
                <!-- <div class="media-body"></div> -->
                    <div class="card-body" >
                    <a style="padding: 1px" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted | date:"F d, Y f A" }}</small>
                    <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                    <!-- <p style="padding-right: 10px;">{{ post.content }}</p> -->
                    </div>
                </article>
        </div>
        {% if forloop.counter|divisibleby:43 %}
        <!-- </div> -->
        <div class="row mx-auto">{% endif %}{% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div> 
    <!-- <div class="page-links">
        {% if page.has_previous %}
        {% endif %}
        <a href="#">prevouts</a>
        {% if page.has_next %}
        <a href="#">next</a>
        {% endif %}


    </div> -->
    {% if is_paginated %}
        {% if page.has_previous %}
            <a class="btn btn-outline-info mb-4" href="{% url 'gridview' %}?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="{{ page.previous_page_number }}">Previous</a>
        {% endif %}

    {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="{% url 'gridview' %}?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="{% url 'gridview' %}?page={{ num }}">{{ num }}</a>
            {% endif %}
    {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="{% url 'gridview' %}?page={{page.next_page_number}}">Next</a>
            <a class="btn btn-outline-info mb-4" href="{% url 'gridview' %}?page={{ page.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
           
{% endblock content%} 