{% extends "blog/base.html" %}
{% block content %}
<body>
  <div>
    <form method="post" action="{% url 'post-update' pk=form.pk %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div>Title</div>
      <div class="form-group">
        <input class="form-control" id="title" name='title' value="{{form.title}}" type="text" required>
      </div>
      <div>Content</div>
       <textarea name="content" cols="40" rows="10" class="textarea form-control" required id="id_content" name="content">{{form.content}}</textarea>

       <div>BlogImage</div>
      <div class="form-group">
        {% if form.blog_image %}
        <img class="img-thumbnail" style="height:10rem;" src="{{ form.blog_image.url }}" alt="image" required><br>
        {% endif %}
        <input id="blog_image" name='blog_image' type="file" >
      </div>
      
       <div>Audio</div>
      <div class="form-group">
        {% if form.audio %}
        <audio src="{{ form.audio.url}}" controls></audio><br>
        {% endif %}
        <input id="audio" name='audio' type="file">
      </div>

       <div>Video</div>
      <div class="form-group">
        {% if form.video %}
        <video width="600" height="400" src="{{ form.video.url }}" controls></video>
        {% endif %}
        <input id="video" name='video' type="file">
      </div>

       <div>keyword</div>
      <div class="form-group">
        <input class="form-control" id="keywords" name='keywords' type="text" value="{{form.keywords}}">
      </div>
      
        <div class='form-group'>
				<button class='btn btn-outline-info' type='submit'>Update</button>
			</div>
    </form>

  </div>
</body>
{% endblock content %} 

