{% extends "blog/base.html" %}
{% block content %}
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
	  <div class="media-body">
		<div class="article-metadata">
		  <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		  <small class="text-muted">{{ post.date_posted | date:"F d, Y f A" }}</small>
		  {% if post.author == user %}
			<div>
				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
			</div>
		  {% endif %}
		</div>
		<h2 class="article-title">{{ post.title }}</h2>
		<p class="article-content">{{ post.content }}</p>
		<img class="img-thumbnail" src={{post.blog_image.url}}>
		<h2>Music</h2>
		<audio src="{{ post.audio.url }}" controls>audio</audio>		
		<h2><b>Video</h2>
		<video width="600" height="400" controls src="{{ post.video.url }}"></video> 
		{% if post.author == user %}
	<br><br><p>keywords are:</p>
			<tags class="article-title">{{post.keywords}}</tags>
		{% endif %}
	  </div>
	</article>
{% endblock content%}  	

