{% extends "blog/base.html" %}
{% load static%}
{% block content %}
<div class="container mr-3" style="margin-left: 50%;">
{% if allPosts|length < 1 %}
    <p>ther is no post</p>
    You'r search query: <b>{{query}}</b> did not match any post<br>
    Suggetions:
    <ul>
       <li> sure all words are spell correctly.</li>
       <li>Try diffrent keywords.</li>
       <li>Try more general keywords.</li>
       <li>Try fever keywords.</li>
    </ul>
    {% endif %}
</div>
	<div>
	{% for post in allPosts %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted | date:"F d, Y f A" }}</small>
			</div>
			<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
			<p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %} 
	</div>
{% endblock content%}  	

